.android
swiftpm
wireshark
zsh/.zcompdump-martindeMacBook-Air-5.9
zsh/.zcompdump-martindeMacBook-Air-5.9.zwc
zsh/.zsh_history
fish/completions
fish/functions
/fish/fish_variables
/nvim/nvim-pack-lock.json
